@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h2>Consultați facturile de plată</h2>
        <p>
            Facturile lunare de plată sunt disponibile aici
        </p>
        <p>@Html.ActionLink("Vezi cheltuielile", "Index", "Cheltuieli", null, null)</p>
    </div>
</div>